version: "3.9"

services:
  backend:
    build: .
    container_name: mtaani-backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      - mongo
    command: npm run dev
  

  mongo:
    image: mongo:7
    container_name: mtaani-mongo
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo_data:
